#menu {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-items: center;
  top: 40vh;
  left: calc(50vw - 250px);
  width: 500px;
  height: 300px;
  color: white;
  text-align: center;
}

#menu div {
  width: 100%;
}

#menu p {
  margin: 30px 0 ;
  font-size: 1.2rem;
}

#menu img {
  height: 100px;
}

#menu div:nth-of-type(2) {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  box-sizing: border-box;
}

.btn {
  width: 200px;
  height: 50px;
  outline: none;
  background-color: #3b003b;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  box-shadow: 0 6px #160416;
}

#onePlayer:hover {
  margin: 2px 0;
  box-shadow: 0 4px #160416;
}

#onePlayer:active {
  margin: 6px 0;
  box-shadow: 0 0 #160416;
}

#twoPlayers:hover {
  margin: 2px 0;
  box-shadow: 0 4px #160416;
}

#twoPlayers:active {
  margin: 6px 0;
  box-shadow: 0 0 #160416;
}